{% extends 'base/base.html' %}
{% block content%}
    <h1 class="text-info mr-200">
        بسم الله الرحمن الرحيم
    </h1>
{% for task in tasks %}
    
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title" href="{% url 'task-detail' task.id %}"> {{ task.task_name }}</a></h2>
            <div class="article-metadata">
                <small class="text-muted">Created on {{  task.date_created|date:"h:i A - d/m/Y" }}</small>
            </div>
        
            <p class="article-content">{{ task.task_content }}</p>
        </div>
    </article>
{% endfor %}
{% endblock content %}